Variables are used to store in the memory and defines the location of memory

In [1]:
#example 1
name = "mayuri"
age = 21
print(name)
print(age)

mayuri
21

In [2]:
#example 2
name = "mayuri"
age = 21
name = "riya"
age = 23
print(name)
print(age)
# it will take the second name as input

riya
23

In [7]:
#example 3
first_name = "mayuri"
last_name = "pawar"
age = 21
is_adult = True

print(first_name + "  " + last_name)
print(age)
print(is_adult)

mayuri  pawar
21
True

In [8]:
#example 4
first_name = "ian"
last_name = "cooper"
age = 23
is_genius = False

print(first_name + "  " + last_name)
print(age)
print(is_genius)
#boolean defines value is true or false

ian  cooper
23
False